::selection {
  background-color: #fff2;
}

.hero {
  display: flex;
  flex-flow: column;
  row-gap: 3rem;
  padding: 90px 30px 0;
  font-size: 1rem;
  box-sizing: border-box;

  @media screen and (min-width: 720px) {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0;
    column-gap: 3rem;
    font-size: 1.15rem;
    padding: 90px 80px 0;

    .content h1 {
      font-size: 5rem !important;

      span {
        position: relative;
    
        svg {
          position: absolute;
          top: .8rem !important;
          left: .1rem !important;
          width: 1rem !important;
        }
      }
    }


  }

  img {
    display: block;
    box-shadow: -2px 2px 10px #000a;
    overflow: hidden;
    max-width: 600px;
  }

  .content {
    display: flex;
    flex-flow: column;
    row-gap: 1rem;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      margin: 0;
      line-height: 1.2;
    
      span {
        position: relative;
    
        svg {
          position: absolute;
          top: .5rem;
          left: .1rem;
          width: .55rem;
        }
      }
    }
  }

  .contacts {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: .25rem;

    .resume-download {
      position: relative;
      bottom: .25rem;
      color: #7b8694;
      text-decoration: none;
      font-size: 0.85rem;
      border: 1px solid #7b8694;
      line-height: 1;
      padding: .5rem 1rem;
      transition: .2s ease-in-out;

      &:hover {
        background-color: #ddddee;
        border-color: #ddddee;
        color: #121315;
      }
    }
  }

  a:hover path {
    fill: #a3b1c3;
  }
  
  svg path {
    fill: #7b8694;
  
    &:nth-of-type(2) {
      fill: none;
    }
  }
}

.skills {
  padding: 0 30px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin-inline: auto;
    justify-content: center;

    li figure {
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      width: 6rem;
      height: 7rem;
      margin: 0;
    }
  }
}

#projects {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;

  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
  }
}

.inline-monospace {
  font-family: 'SF Mono';
  color: #636970;
  font-style: italic;
  &:not(:first-of-type) {
    font-size: 0.85rem;
  }
}

h2.inline-monospace {
  font-size: 0.85rem;
  margin: 0;
  font-weight: 400;
}

.comment {
  color: #016967;
}

.about {
  padding: 30px 30px 0;

  div:not(:last-child) {
    padding-left: 20px;
    max-width: 850px;
  }
}